html {
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: #141e25;
    color: #9d9d9d;
}
header {
    background-color: #141e25;
}

.copyright--lg {
    padding: 15px;
}

.header_words {
    color: white;
}

h3, h4, h5, h6 {
    color: honeydew;
}


.new_img {
    width: 30%;
    float: left;
    margin: 10px;
}

.new_span {
    font-size: 16pt;
    color: wheat;
}

.micro_logo {
    width: 50px;
}

.homepage_title_logo {
    width: 15%;
}

.popular_img {
    width: 20%;
    float: left;
    margin: 10px;

}

.popular_span {
    font-size: 14pt;
    color: wheat;
}

.header_site_name {
    color: #FFFFFF;
}

.lesson_aside_menu {
    height: 500px;
    overflow-y: scroll;
}

/*Кастомизация скрола*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.video_player {
    width: 100%;
}

.video_not_exists {
    margin-left: 30%;
    width: 90%;
    margin-bottom: 37%;
}

.lesson_comments_menu {
    border: solid 1px black;
    box-shadow: 10px 10px;
    padding: 30px;
    margin-bottom: 25px;
    background: #373539;
    border-radius: 30px;
}

.lesson_comments_menu_scroll {
    width: 100%;
    min-height: 50px;
    max-height: 700px;
    overflow-y: scroll;
}

.button_copy_link {
    padding: 10px 10px 10px 10px;
    background: #373539;
    color: wheat;
    border-radius: 15px;
    border: solid 1px black;
    box-shadow: 10px 10px black;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
    /*-webkit-box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.8);*/
    /*-moz-box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.8);*/
    /*box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.8);*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.button_copy_link:hover {
    -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
.button_copy_link:focus {
    outline: 0;
}

.lesson_link {
    border-radius: 15px;
    background-color: transparent;
    color: #a8c1ff;
    margin-left: 30%;
}

.login_tab {
    background: #200122;
    background: -webkit-linear-gradient(to bottom, #6f0000, #200122);
    background: linear-gradient(#2e3a6a, #2f0b45);
    border-radius: 0;
    color: antiquewhite;
    text-transform: uppercase;
    padding: 0;
    margin-right: 0;
    border: none;
    border-bottom: 2px solid transparent;
    position: relative;
}

.input_in_admin {
    font-size: 14pt;
    background: transparent;
    color: #dbcf61;
    /*border:none;*/
    border-top: white;
    border-left: white;
    border-right: white;
}

.select_input_in_admin, select_input_in_admin + selected {
    font-size: 16pt;
    background: transparent;
    color: #3437db;
}

.control-label {
    font-size: 14pt;
    color: #2adbaf;
    text-align: right;
    float: left;
    margin-right: 15px;
}

.page-link {
    background: #383d41;
    border: white;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: rgba(53, 116, 125, 0.87);
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #383d41;
}

.admin_image_big {
    width: 20%;
}

.admin_video_player {
    margin-left: 10%;
    margin-bottom: 2%;
    width: 35%;
}

.message_div1 {
    width: 100%;
    /*border: solid 2px #6d6a80;*/
    padding: 15px;
    /*border-radius: 30px;*/
    /*background: #6d6a80;*/
}

.span_message_vue {
    color: wheat;
    width: 95%;
    word-break: break-all;
    font-size: 15pt;
}

.span_message{
    color: #c0c8b3;
    width: 95%;
    word-break: break-all;
    font-size: 15pt;
}
.div_date_message{
    /*width: 100%;*/
    display: inline-block;
    /*border: solid 2px #6d6a80;*/
    padding: 5px;
    /*border-radius: 30px;*/
    /*background: #6d6a80;*/
}
.date_message{
    color: #ec665c;
    width: 95%;
    word-break: break-all;
    font-size: 12pt;
}
.username_message{
    color: #39ec3f;
    width: 95%;
    word-break: break-all;
    font-size: 15pt;
}
